 <header>
    <div class="hero-content text-center">
        <h1>SkyBlue</h1>
        <p>Experience the best journey with us</p>
        <a href="/flights" class="btn btn-primary btn-lg">Book Now</a>
    </div>
    </header>


<br>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://visabookings.com/wp-content/uploads/2018/08/business-3268751_1280-1080x675.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://www.aa.com/content/images/plan-travel/extras/hold-your-reservation-banner.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://content.skyscnr.com/m/18624a05eda5e0a2/original/Summer-Article_Price-Alerts-Image-01_1225x800-__-EN-US.png?resize=1800px:1800px&quality=100" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<section class="featured-destinations py-5 bg-light">
    <div class="container">
        <h2 class="text-center">Featured Destinations</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://cdn.mos.cms.futurecdn.net/mqRUPPghetpzNQpcRwKJ4j-1200-80.jpg" class="card-img-top" alt="Destination 1">
                    <div class="card-body">
                        <h5 class="card-title">Paris</h5>
                        <p class="card-text">The city of lights.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://cdn.mos.cms.futurecdn.net/mqRUPPghetpzNQpcRwKJ4j-1200-80.jpg" class="card-img-top" alt="Destination 2">
                    <div class="card-body">
                        <h5 class="card-title">New York</h5>
                        <p class="card-text">The city that never sleeps.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://cdn.mos.cms.futurecdn.net/mqRUPPghetpzNQpcRwKJ4j-1200-80.jpg" class="card-img-top" alt="Destination 3">
                    <div class="card-body">
                        <h5 class="card-title">Tokyo</h5>
                        <p class="card-text">The land of the rising sun.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
